@model IEnumerable<Sales.Common.Models.Seller>

@{
    ViewBag.Title = "Listado";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SellerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellerFatherLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellerMomLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellerDni)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SellerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellerFatherLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellerMomLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellerDni)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SellerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SellerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SellerId })
        </td>
    </tr>
}

</table>
